.hero {
    width: 100%;
    height: 250px;
    background-image: url("../images/malay_profile_top.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 50px auto;
    line-height: 1.6;
}

.profile {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile img {
    width: 200px;
    border-radius: 50%;
}

h1 {
    margin-bottom: 10px;
}

/* 手机适配 */
@media (max-width: 768px) { 
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        width: 150px;
    }
}
